/*
	Theme Name: successean
	Theme URI: http://successean.com
	Description: Successean Theme
	Version: 1.4.2
	Author: Sean Cooper (@)
	Author URI: http://successean.com
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {
	font:300 11px/1.4 'Quattrocento Sans', sans-serif;
	color:#040404;
	background-color: #fff;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}
textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
ul, li {
	padding: 0;
	list-style-type: none;
}

/*------------------------------------*\
    STRUCTURE / STICKY FOOTER
\*------------------------------------*/

/*Stickyness*/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.site-wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -300px; 
}
.site-wrapper:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: auto; 
}
.site-footer {
  background: #1c1c1c;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

/*Inner Content*/
.footer-wrapper {
	width: 90%;
	margin: 0 auto;
	padding: 50px 20px;
	overflow: hidden;
}
.footer-left {
	float: left;
}
input.wysija-submit.wysija-submit-field {
	width: 190px;
	margin-top: 0;
	padding: 10px;
	height: 34px;
	border:0;
	border-radius: 4px;
	background-color: #bea171;
	color:#fff;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
p.wysija-paragraph {
	float: left;
}
p.wysija-paragraph input {
	height: 34px;
	width: 300px;
	border: 0;
	padding-left: 15px;
	font-family: 'Fanwood Text', serif;
	font-size: 21px;
	font-style: italic;
	color:rgba(4, 4, 4, 0.6);
}
.footer-newsletter {
	width: 495px;
	background: #fff;
	border-radius: 5px;
	padding-top:5px;
	padding-bottom: 5px;
}
.dotted-border {
	padding: 7px;
	width: 509px;
	border-radius: 10px;
	border:1px dotted #bea171;
}

.footer-contact-info {
	margin-top: 40px;
	color:#fff;
	text-transform: uppercase;
}
.footer-contact-info h4 {
	letter-spacing: 0.1em;
	font-size: 14px;
	margin-bottom: 15px;
	font-weight: 700;
}
.footer-contact-info p {
	font-size: 13px;
	line-height: 1.55em;
}

.footer-right {
	float: right;
	padding-top: 13px;
	font-weight: 700;
}
.footer-right img {
	height: 20px;
	margin-right: 30px;
	vertical-align: middle;
}
.footer-links {
	margin-top: 50px;
	overflow: hidden;
}
p.contact-num {
	display: inline-block;
	vertical-align: middle;
	color:#fff;
	letter-spacing: 0.1em;
	font-size: 20px;
	margin-right: 10px;
}
ul#menu-footer-menu-left {
	float: left;
    width: 50%;
}
ul#menu-footer-menu-right {
	float: left;
    width: 50%;
}
.footer-links ul li {
	letter-spacing: 0.15em;
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.footer-links ul li a {
	color:#fff;
}
/*------------------------------------*\
    HEADER
\*------------------------------------*/
.site-header {
	height: 100px;	
	position: relative;
}
.header-wrapper {
	width: 90%;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 30px;
	border-bottom:1px solid #000;
}

.site-nav {
	overflow: hidden;
}
.site-nav ul li {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 0.1em;
	font-weight: 700;
}
.site-nav ul li a {
	color:#040404;
}
/*Nav Left*/
ul.nav-left {
	float: left;
	width: 50%;
}
ul.nav-left li {
	display: inline-block;
	width: 20%;
}
ul.nav-left li.home-link {
	width: 70px !important;
}
img.home-button {
	height:18px;
}
ul#menu-header-menu-left {
	display: inline;
}
ul#menu-header-menu-right {
	display: inline;
}
/*Nav Right*/
ul.nav-right {
	float: right;
	text-align: right;
	width: 50%;
}
ul.nav-right li{
	display: inline-block;
	width: 18%;
}
ul.nav-right li.nav-button {
	width: 270px !important;
}
.refill-button {
	padding: 9px 18px;
	border:0;
	border-radius: 4px;
	background-color: #bea171;
	color:#fff;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

div.logo {
	position: absolute;
	width: 240px;
	top:13px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 30px;
	background-color: #fff;
}
div.logo:active {
	transform: translateY(5px);
}

/*------------------------------------*\
    FRONT PAGE 
\*------------------------------------*/
/*Section 1 Banner*/
.front-section-uno {
	padding-top: 80px;
	padding-bottom: 40px;
	background-color: #fff;
}

/*Section 2*/
.front-section-dos {
	height: 700px;
	padding-top: 150px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.fsd-text-box {
	height: 425px;
	width: 70%;
	margin: 0 auto;
	background-color:#fff;
	text-align: center;
	padding-top:60px;
}
.fsd-text-box h3{
	padding-bottom: 25px;
	font-size: 19px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.skinny-border {
	width: 70px;
	margin: 0 auto 25px;
	border-top: 1px solid #bea171;
}
.fsd-text-box p {
	width: 70%;
	margin: 0 auto;
	font-size: 17px;
	line-height: 1.7em;
	letter-spacing: 0.02em;
	margin-bottom: 4%;
}

a.tan-text-link {
	font-size: 12px;
	text-transform: uppercase;
	color:#bea171;
	letter-spacing:0.2em; 
	padding-bottom: 6px;
	border-bottom: 1px solid #bea171;
}


/*Section 3*/
.front-section-tres {
	padding-top: 50px;
	background-repeat: no-repeat;
	background-size: 100%;
	padding-bottom: 130px;
}
.fst-wrapper {
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
}
.fst-grid {
	overflow: hidden;
}
.fst-header {
	float: left;
	width: 33%;
	text-align:center;
}
.fst-header h2 {
	color:rgba(4, 4, 4, 0.3);
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.fst-header h2:hover {
	cursor: pointer;
	color:rgba(4, 4, 4, 1);
}
.fst-grid-top {
	margin-bottom: 130px;
}

.grid-bot-layer-1 .grid-bot-block {
	float: left;
	width: 39%;
	margin-right: 1%;
	margin-bottom: 10px;
}
.grid-bot-layer-1 .grid-bot-block img{
	width: 100%;
	height: 130px;
	border: 3px solid rgba(4, 4, 4, 0.1);
	border-radius: 3px;
}
.grid-bot-layer-1 .grid-bot-block img:hover{
	border: 3px solid rgba(4, 4, 4, 0.3);
}
.grid-bot-layer-1 .grid-bot-block-1 {
	width: 19% !important;
}

.grid-bot-layer-1 .grid-bot-block:last-child {
	margin-right: 0;
}

.grid-bot-layer-2 .grid-bot-block {
	float: left;
	width: 49%;
	margin-right: 1%;
}
.grid-bot-layer-2 .grid-bot-block img{
	width: 100%;
	height: 170px;
	border: 3px solid rgba(4, 4, 4, 0.1);
	border-radius: 3px;
}
.grid-bot-layer-2 .grid-bot-block:last-child {
	margin-right: 0;
}
.grid-bot-layer-2 .grid-bot-block img:hover{
	border: 3px solid rgba(4, 4, 4, 0.3);
}



/*------------------------------------*\
    CONTACT PAGE 
\*------------------------------------*/
.contact-wrapper {
	padding-top: 120px;
	padding-left: 60px;
	padding-bottom: 20px;
	overflow: hidden;
}
.contact-section-left {
	float: left;
	width: 49%;
}
.contact-section-right {
	float: right;
	width: 49%;
}
.contact-section-right img {
	margin-bottom: 15px;
	float: right;
	width: 90%;
}
.contact-section-info {
	padding-top: 20px;
	margin-bottom: 80px;
}
.contact-section-info h4 {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 0.175em;
}
.contact-section-info h2 {
	font-family: 'Fanwood Text', serif;
	font-size: 34px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 30px;
}
.contact-section-info p {
	font-size: 16px;
	letter-spacing: 0.05em;
	padding-bottom:10px;
}
.contact-section-info img {
	height: 100px;
	vertical-align: middle;
	margin-right: 25px;
}
.contact-section-info .contact-numbers {
	display: inline-block;
	vertical-align: middle;
}

.contact-section-form h2 {
	font-family: 'Fanwood Text', serif;
	font-size: 34px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 15px;
}

.contact-section-form h3 {
	font-size: 16px;
	letter-spacing: 0.05em;
	margin-bottom: 20px;
	font-weight: 400;
}

form.wpcf7-form p {
	font-size:12px;
	font-weight: 700;
	letter-spacing: 0.1em;
	clear:right;
	margin-bottom: 15px;
}
form.wpcf7-form p.pull-left {
	float: left;
}
form.wpcf7-form p.push-right {
	float: right;
}
form.wpcf7-form p input {
	margin-top: 5px;
	border:0;
	border-bottom:1px solid #2d5071;
	background-color: rgba(225, 225, 225, 0.6);
	height: 35px;
}
form.wpcf7-form p input:focus {
	background-color: rgba(225, 225, 225, 0.4);
	border-bottom:2px solid #2d5071;
}
form.wpcf7-form p textarea {
	margin-top: 5px;
	border:0;
	border-bottom:1px solid #2d5071;
	background-color: rgba(225, 225, 225, 0.6);
	width: 100%;
	height: 105px;
}
form.wpcf7-form p textarea:focus {
	background-color: rgba(225, 225, 225, 0.4);
	border: 0;
	border-bottom:2px solid #2d5071;
}

input.wpcf7-form-control.wpcf7-submit {
	width: 240px;
	margin-top: 12px;
    padding: 9px 18px;
    border: 0;
    border-radius: 4px;
    background-color: #bea171;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}


/*------------------------------------*\
    ABOUT US PAGE 
\*------------------------------------*/
.about-wrapper {
	padding-top: 120px;
	overflow: hidden;
}
.about-intro {
	width: 90%;
	margin:0 auto;
	padding-bottom: 50px;
}
.about-header h2 {
	font-family: 'Fanwood Text', serif;
	font-size: 32px;
	font-weight: 400;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
}
.about-header h2 span.bold {
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: 700;
}

.ring-section {
	width: 400px;
	overflow: hidden;
	margin: 50px auto 60px;
}
.about-ring {
	float: left;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	padding-top: 65px;
	text-align: center;
	border:3px solid #b2b2b2;
	border-radius: 50%;
}
.about-ring h4 {
	width: 75px;
	margin: 0 auto;
	color:rgba(4, 4, 4, 0.9);
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.1em;
}
.about-ring.honesty-ring {
	border:3px solid #b2b2b2;
	height: 150px;
	width:150px;
	float: left;
	position: relative;
	margin-left:-30px;
    margin-right: -30px;
}

.about-ring.quality-ring:hover {
	background-color: #bea171;
	border:0;
	height: 150px;
	width:150px;
	float: left;
	position: relative;
}
.about-ring:hover {
	background-color: #bea171;
	border:0;
	height: 150px;
	width:150px;
	float: left;
	position: relative;
}

.about-ring:hover > h4 {
	background-color: #bea171;
	color:#fff;
}
.about-ring:active > h4 {
	color: #fff
}
.active-text {
	background-color: #bea171;
	color:#fff;
}
.about-ring.active {
	background-color: #bea171;
	border: 3px solid #bea171;
	z-index: 99;
    position: relative;
}
.about-ring:hover {
	cursor: pointer;
}

.about-intro-text {
	width: 55%;
	margin: 0 auto;
	text-align: center;
}
.about-intro-text p {
	font-size: 18px;
	color:#040404;
}

.about-links-section {
	padding-top: 15px;
	padding-bottom: 15px;
	border-top:2px solid rgba(178, 178, 178, 0.5);
}
.about-links {
	width: 55%;
	margin: 0 auto;
	text-align: center;
}
.about-links a {
	width: 32%;
    display: inline-block;
    vertical-align: top;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color:#cbcbcb;
}
.about-links a.active {
	color:#040404;
}


/*VALUE SECTION*/
.value-section {
	background-color: #f4f4f5;
	padding-bottom: 50px;
	overflow: hidden;
}
.value-wrapper {
	width: 75%;
	margin: 0 auto;
	padding-top: 50px;
	overflow: hidden;
}
.value-side {
	width: 225px;
	text-align: center;
	float: left;
}
.value-person img{
	width: 100px;
	height: 100px;
	text-align: center;
	border: 3px solid #bea171;
	border-radius: 50%;
	margin-bottom: 20px;
}
.value-person img.active {
	width: 170px;
	height: 170px;
}
.value-main,
.value-main-clone {
	background-color: #fff;
	float: left;
	width: 70%;
	padding: 30px;
	margin-top: 50px;
	margin-left: 50px;
	position: relative;
}
/*.value-main:before {
	content: url(img/arrow-chat.png); 
	position: absolute;
	left:-45px;
}*/
.value-main h3 {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	color:rgba(4, 4, 4, 0.6);
}
.value-main h2 {
	font-family: 'Fanwood Text', serif;
	font-size: 32px;
	font-weight: 400;
	margin-top: 10px;
	padding-bottom: 10px;

}
.value-main div.skinny-border {
    width: 100px;
    margin: 5px 0 20px;
    border-top: 2px solid #bea171;
}

.value-main p,
.value-main-clone p {
	font-size: 18px;
	color:rgba(4, 4, 4, 0.6);
	line-height: 1.6em;
	width: 95%;
}

/*OUR STORY SECTION*/
.our-story-section {
	height: 700px;
	padding-top: 150px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.our-story-backdrop {
	padding:0 0 50px;
	width: 650px;
	margin: 0 auto;
	background-color: rgba(4, 4, 4, 0.6);
}
.our-story-text-box {
	height: 375px;
	width: 550px;
	margin: 0 auto;
	background-color:#fff;
	text-align: center;
	padding-top:60px;
}
.our-story-text-box h3{
	padding-bottom: 25px;
	font-size: 19px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.skinny-border {
	width: 70px;
	margin: 0 auto 25px;
	border-top: 1px solid #bea171;
}
.our-story-text-box p {
	width: 85%;
	margin: 0 auto;
	font-size: 17px;
	line-height: 1.7em;
	letter-spacing: 0.02em;
	margin-bottom: 4%;
}


.our-story-links {
	width: 55%;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}
.our-story-links a {
	width: 24%;
    display: inline-block;
    vertical-align: top;
	font-size: 19px;
	font-weight: 700;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color:rgba(255, 255, 255, 0.3);
}
.our-story-links a.active {
	color:rgba(255, 255, 255, 1);
}

/*------------------------------------*\
    SERVICES PAGE 
\*------------------------------------*/
.serv-wrapper {
	padding-top: 100px;
	overflow: hidden;
}
.serv-header {
	width: 90%;
	margin:0 auto;
}
.serv-header h2 {
	font-family: 'Fanwood Text', serif;
	font-size: 30px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 15px;
}
.servy-scroll {
	height: 700px;
	width: 100%;
	overflow: auto;
    white-space: nowrap;
	padding-top: 80px;
	background-repeat: no-repeat;
	background-size: 100%;
}
.servy-box {
	width: 37%;
	background-color:#fff;
	text-align: center;
	padding-top:30px;
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
	white-space: normal;
	height: 478px;
	position: relative;
}
.servy-box img {
	position: absolute;	
	left: 0;
	bottom: 0;
	max-height: 300px;
	width: 100%;
}
.servy-box h3{
	padding-bottom: 15px;
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.skinny-border {
	width: 70px;
	margin: 0 auto 25px;
	border-top: 1px solid #bea171;
}
.servy-box p {
	width: 85%;
	margin: 0 auto;
	font-size: 17px;
	line-height: 1.7em;
	letter-spacing: 0.02em;
	margin-bottom: 4%;
}
.servy-box h4 {
	padding-bottom: 20px;
}


/*------------------------------------*\
    CATALOG VIEW
\*------------------------------------*/

.catalog-view {
	width: 80%;
	margin: 0 auto;
}
.catalog-links-section {
	margin: 20px auto;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top:2px solid rgba(178, 178, 178, 0.5);
}
.catalog-links {
	width: 55%;
	margin: 0 auto;
	text-align: center;
}
.catalog-links a {
	width: 32%;
    display: inline-block;
    vertical-align: top;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color:#cbcbcb;
}
.catalog-links a:hover {
	color:#040404;
}
.catalog-links a.active {
	color:#040404;
}
.catalog-header h2 {
	font-family: 'Fanwood Text', serif;
	font-size: 32px;
	font-weight: 400;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 15px;
}

.wd-catalog-panel_8 .button-block a, .wd-catalog-panel_8 .button-block a:link {
	background: #bea171 !important;
}


/*------------------------------------*\
    PRODUCT VIEW
\*------------------------------------*/

.huge_it_catalog_single_product_page {
	margin-top: 50px !important;
}
.huge_it_catalog_single_product_page div.right-block .title-block {
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.description-block {
	padding-bottom: 10px !important;
	margin-bottom: 10px;
}
.contact-seller-block {
	display: none !important;
}
.huge-it-catalog-bottom-block {
	display: none !important;
}



/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family:'Font-Name';
	src:url('fonts/font-name.eot');
	src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
		url('fonts/font-name.woff') format('woff'),
		url('fonts/font-name.ttf') format('truetype'),
		url('fonts/font-name.svg#font-name') format('svg');
    font-weight:normal;
    font-style:normal;
}


/*------------------------------------*\
    RESPONSIVE MENU
\*------------------------------------*/

#click-menu {
	padding:0 !important;
	width: 24px !important;
}
#responsive-menu {
	padding-top: 65px;
}
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
	

@media only screen and (max-width:1080px) {
	form.wpcf7-form p.pull-left {
		float: none;
	}
	form.wpcf7-form p.push-right {
		float: none;
	}
	form.wpcf7-form p input {
		width: 100%;
	}
}
@media only screen and (max-width:980px) {

	/*Front Page*/
	.header-wrapper {
		padding-top: 20px;
	}
	div.logo {
		top:0;
	}
	ul.nav-left li {
		display: none;
	}
	ul.nav-left li.home-link {
		display: block;
		width: 100px !important;
	}
	img.home-button {
		height: 30px;
	}
	ul.nav-right {
		display: none;
	}
	.front-section-uno {
		padding-top: 100px;
	}
	.fsd-text-box {
		height: auto;
		width: 100%;
	}
	.fsd-text-box p {
		width: 90%;
	}
	.front-section-tres {
		padding-top: 0;
	}
	.fst-header {
		width: 100%;
		margin-bottom: 10px;
	}
	.grid-bot-layer-1 .grid-bot-block-1 {
		width: 100% !important;
	}
	.grid-bot-layer-1 .grid-bot-block {
		width: 100%;
	}

	/*Catalog*/
	.catalog-view {
		width: 85%;
	}
	.catalog-links a {
		width: 100%;
		padding-bottom:15px;
	}

	/*Footer*/
	.footer-wrapper {
		padding: 30px 20px 15px;
	}
	input.wysija-submit.wysija-submit-field {
		width: 97%;
		margin: 0 auto;
	}
	p.wysija-paragraph input {
		width: 100%;
	}
	.footer-newsletter {
		width: 100%;
	}
	.dotted-border {
		width: 100%;
	}
	.footer-contact-info {
		text-align: center;
	}
	.footer-social {
		text-align: center;
		margin-top: 10px;
	}
	p.contact-num {
		display: none;
	}
	.footer-links {
		margin-top: 30px;
		text-align: center;
	}

	/*Newsletter*/
	.widget_wysija_cont .allmsgs li {
		font-family: 'Quattrocento Sans', sans-serif !important;
		font-size: 13px !important;
		text-align: center !important;
	}
}
@media only screen and (max-width:560px) {

	/*CONTACT PAGE*/
	.contact-wrapper {
		padding-left: 0;
		margin-top: 0;
	}
	.contact-section-left {
		float: none;
		width: 95%;
		margin: 0 auto;
		text-align: center;
	}
	.contact-section-info {
		margin-bottom: 50px;
	}

	.contact-section-right {
		float: none;
		width: 95%;
		overflow: hidden;
		margin: 50px auto 0;
		text-align: center;
	}
	.contact-section-right img {
		float: none;
	}
	.contact-section-right img:first-child,
	.contact-section-right img:last-child {
		display: none;
	}

	/*SERVICES PAGE*/
	.serv-header h2 {
		font-size: 26px;
	}
	.servy-scroll {
		height: auto;
		background-size: 100% 100%;
		padding-bottom: 70px;
	}
	.servy-box {
		width: 96%;
		margin-left: 2%;
	}

	/*ABOUT PAGE*/
	.about-intro {
		width: 100%;
	}
	.ring-section {
		width: 95%;
	}
	.about-ring,
	.about-ring.honesty-ring {
		width: 140px;
		height: 140px;
	}
	.about-intro-text {
		width: 90%;
	}
	.about-links {
		width: 100%;
	}

	.value-wrapper {
		width: 100%;
	}
	.value-side {
		width: 100%;
		float: none;
	}
	.value-person {
		display: inline-block;
		margin-left: 1%;
		margin-right: 1%;
	}
	.value-person img {
		opacity: 0.3;
	}
	.value-person img.active {
		width: 100px;
		height: 100px;
		opacity: 1;
	}

	.value-main {
		width: 95%;
		margin: 10px auto 0;
		float: none;

	}
	.value-main:before {
		display: none;
	}
	.value-main h2 {
		font-size: 24px;
	}
	.value-main p {
		font-size: 16px;
	}

	.our-story-section {
		height: auto;
	}
	.our-story-backdrop {
		width: 100%;
	}
	.our-story-links {
		width: 100%;
	}
	.our-story-text-box {
		width: 95%;
	}
}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
